alabaster
Babel
certifi
charset-normalizer
click
docutils
idna
imagesize
Jinja2
markdown-it-py
MarkupSafe
mdit-py-plugins
mdurl
myst-parser
packaging
Pygments
PyYAML
requests
snowballstemmer
Sphinx
sphinx-intl
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
urllib3
